body {
    background: #e6e6e6;
}

.contenedorPrincipal {
    display: flex;
    flex-direction: column;
}

.cabecera {
    display: grid;
    grid-template-columns: 1fr 140px;
    position: sticky;
    align-content: center;
    top: 0;
    height: 42px;
    background: #ff8c00;
}

.cabecera p {
    position: relative;
    margin: auto;
}

.cabecera__p {
    font-size: 20px;
}

.cabecera__contenedorDarkMode {
    display: flex;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    background-color: #ffa500;
}

.cabecera__contenedorDarkMode-p {
    position: relative;
    margin: 0 20px;
}

.cabecera__contenedorDarkMode-input {
    position: relative;
    width: 30px;
    margin-right: 5px;
}

.nav ul {

    display: flex;
    height: 30px;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
}

.nav__1,
.nav__2,
.nav__3 {
    display: flex;
    background: #ffa500;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.nav__1,
.nav__2 {
    border-right: 1px solid black;
}

.nav__1 a,
.nav__2 a,
.nav__3 a {
    text-decoration: none;
    text-emphasis: none;
    color: #000000;
    width: 100%;
}

.vidriera {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
    background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

.vidriera__1,
.vidriera__2,
.vidriera__3 {
    margin: auto;
    width: 100px;
    height: 100px;
}

.vidriera__1 img,
.vidriera__2 img,
.vidriera__3 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.principal {
    background: lightsteelblue;
}

.pie {
    background: lightgreen;
}